parameters:
	ignoreErrors:
		-
			message: """
				#^Call to deprecated function watchdog_exception\\(\\)\\:
				in drupal\\:10\\.1\\.0 and is removed from drupal\\:11\\.0\\.0\\. Use
				  Use \\\\Drupal\\\\Core\\\\Utility\\\\Error\\:\\:logException\\(\\) instead\\.$#
			"""
			count: 1
			path: modules/simple_sitemap_engines/src/Submitter/SubmitterBase.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: src/Controller/SimpleSitemapController.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 2
			path: src/Manager/Generator.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: src/Plugin/simple_sitemap/UrlGenerator/SitemapIndexUrlGenerator.php

		-
			message: """
				#^Call to deprecated function watchdog_exception\\(\\)\\:
				in drupal\\:10\\.1\\.0 and is removed from drupal\\:11\\.0\\.0\\. Use
				  Use \\\\Drupal\\\\Core\\\\Utility\\\\Error\\:\\:logException\\(\\) instead\\.$#
			"""
			count: 1
			path: src/Queue/QueueWorker.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 2
			path: src/SimpleSitemapListBuilder.php
